[Unit]
Description=This is a Wayland equivalent for tools like autorandr.
Documentation=https://wayland.emersion.fr/kanshi/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/kanshi

[Install]
WantedBy=dwl-session.target
