[Unit]
Description=mpris media player command-line controller
Documentation=https://github.com/altdesktop/playerctl
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/playerctl daemon

[Install]
WantedBy=dwl-session.target
