[user]
  email = T.Kallup@gmail.com
  name = Tomáš Kallup
  signingkey = 774B849F1E711FC2
[core]
  editor = "$EDITOR"
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[color]
  ui = true
[color "branch"]
  current = green bold
  local = blue
  remote = cyan
[color "diff-highlight"]
  oldNormal = 196 bold
  oldHighlight = 196 bold 52
  newNormal = 46 bold
  newHighlight = 46 bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = 196 bold
  new = 46 bold
  commit = yellow bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = cyan
  unmerged = yellow
  untracked = red
[alias]
  bcleanup = !git fetch --prune && git branch --merged | egrep -v \"(^\\*|master|develop|staging)\" > /tmp/git-branch-cleanup && $EDITOR /tmp/git-branch-cleanup && cat /tmp/git-branch-cleanup | xargs git branch -d
  pbcleanup = !git fetch --prune && git branch -vv | grep ': gone]' | sed \"s/^\\s\\+\\([^ ]\\+\\).*/\\1/\" | egrep -v \"(^\\*|master|develop|staging)\" > /tmp/git-branch-cleanup && $EDITOR /tmp/git-branch-cleanup && cat /tmp/git-branch-cleanup | xargs git branch -D
  rbcleanup = !git fetch --prune && git branch -r --merged | egrep -v \"(^\\*|master|develop|staging)\" > /tmp/git-branch-cleanup && $EDITOR /tmp/git-branch-cleanup && sed -i \"\" \"s/origin\\///\" /tmp/git-branch-cleanup && cat /tmp/git-branch-cleanup | xargs git push origin --delete
  a = add
  aa = add *
  ac = !git diff --name-only --diff-filter=U | xargs git add
  ap = add -p
  b = branch
  c = commit
  ca = commit -a
  ch = checkout
  cm = commit -m
  cam = commit -am
  chp = cherry-pick
  chpc = cherry-pick --continue
  d = diff
  f = fetch
  fp = fetch --prune
  fc = !git diff --name-only --diff-filter=U | xargs $EDITOR
  m = merge
  md = merge develop
  r = reset
  rh = reset HEAD
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  s = status -sb
  st = stash
  sta = stash apply
  p = push
  pf = push --force-with-lease
  pl = pull
  psuo = !git push --set-upstream origin $(git branch --show-current)
  psu = push --set-upstream
  dt = difftool
  mt = mergetool
  fixc = "!$EDITOR `git diff --name-only --diff-filter=U`"
  bi =  !git checkout $(git branch | sed '/HEAD/d' | sed -e 's/*\\?\\s\\+\\(remotes\\/origin\\/\\)\\?//' | sort -u | fzf)
  bia =  !git checkout $(git branch -a | sed '/HEAD/d' | sed -e 's/*\\?\\s\\+\\(remotes\\/origin\\/\\)\\?//' | sort -u | fzf)

[pull]
  rebase = true
[rebase]
  autoStash = true
[gpg]
  program = gpg2
[commit]
  gpgSign = true
[diff-so-fancy]
  first-run = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd w' -c 'wincmd J'"
